label.slds-checkbox_toggle.slds-grid>* {
    width: 100%;
    margin-top: 5px;
    margin-left: 2%;
}

.slds-checkbox_toggle.slds-grid {
    justify-content: flex-end;
}

label.slds-checkbox_toggle.slds-grid .slds-checkbox_faux_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 4px;
    align-items: center;
}

.textlabel {
    background-color: #d5d5d5;
    color: black;
    font-size: 14px;
    text-align: center;
    margin: 15px 10px 15px 10px;
}

.resetcharacter {
    width: 94%;
    margin: 7px 0px 7px 8px;
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    color: #000000;
}

.resetcharacter:hover {
    background-color: rgb(233, 232, 232);
}

.slds-slider-label__range {
    display: none;
}

.slider {
    margin: 16px 10px 16px 10px;
}

.togglebox {
    margin: 11px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.slds-input {
    background-color: #f0f0f0;
}

.slds-form-element__label {
    font-weight: 500;
}

.styletext {
    margin: 0px 10px 7px 10px;
}

.styletext .slds-form-element__label {
    font-weight: 700;
}

.plaintext {
    margin: 7px 10px 7px 10px;
}

.Item {
    display: flex;
    margin-bottom: 1px;
}

.Item .slds-button {
    margin-left: 10px;
    width: 12%;
    height: 32px;
}

.Item .slds-input {
    margin-left: 8px;
}

.Itembutton {
    display: flex;
}

.Itembutton .slds-button {
    width: 100%;
    margin: 5px 8px 0 8px;
}

.richstyle {
    text-align: center;
    margin-top: 20px;
}

.richbutton {
    position: absolute;
}

.fieldname {
    margin: 10px;
    font-size: large;
    color: rgb(97, 121, 199);
    text-align: center;
    font-weight: bold;
}

.slds-tabs_scoped {
    background-color: #fff;
}

.fieldLabel {
    text-transform: capitalize;
    text-align: center;
    color: rgba(0, 0, 0, 0.56);
    padding: 5% 0 5% 0;
    font-weight: bold;
    font-size: 24px
}

.attributeButton .slds-button {
    border-style: none;
    border-color: white;
    font-size: 1rem;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    color: #6699CC;
    width: 100%;
    border: 1px solid #6699cc;
    border-radius: 10px;
}

.btnDiv {
    margin: 2% 5%;
    cursor: pointer;
}

.fieldvalidationbody {
    /* width: 21%; */
    background-color: #F5F5F5;
    height: 88vh;
    overflow-y: scroll;
}

.fieldvalidationbody::-webkit-scrollbar {
    display: none;
}

.attributeButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnDiv {
    margin: 2% 5%;
    width: 50px;
    height: 50px;
    background-color: #6699CC;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fieldvalidationbtndiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fieldvalidationbtnmaindiv {
    display: flex;
    /* justify-content: center; */
}

.textlabel {
    font-size: 14px;
    margin: 15px 10px 15px 10px;
    background: #D6D4D4;
    border-radius: 4px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validationicon {
    cursor: pointer;
}

.resetbtn {
    width: 95%;
    height: 3vh;
    border: 1px solid black;
    background: white;
    margin: auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.resetbtns {
    width: 25%;
    height: 3vh;
    border: 1px solid black;
    background: white;
    margin: auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.resettext {
    padding: auto;
}

.requiredfield {
    margin: 0px 10px 0px 10px;
}


.switch input {
    display: none;
}

.switch small {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    border: 2px solid grey;
    width: 48px;
    height: 24px;
}

.switch small:after {
    /* content: "Inactive"; */
    position: absolute;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    left: 0px;
    text-align: right;
    padding: 1px 5px;
    box-sizing: border-box;
    line-height: 18px;
}

.switch small:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #6699CC;
    border-radius: 50%;
    left: 4px;
    transition: .3s;
    box-shadow: -3px 0 3px rgb(0 0 0 / 10%);
}

.switch input:checked~small {
    transition: .3s;
    background: #6699CC;
    border: 2px solid grey;
}

.switch input:checked~small:before {
    transform: translate(46px, 0px);
    transition: .3s;
    left: -20px;
    right: 49px;
    background-color: white;
}

.switch input:checked~small:after {
    content: "";
    text-align: left;
    padding-left: 10px;
}

:host {
    --sds-c-slider-track-color-background: white;
    --sds-c-slider-thumb-color-foreground: #6699CC;
}

/* =========================     Spinner Sarts      =========================== */

.spinnerclass {
    overflow: hidden;
    border-radius: 20px;
}

.spinner-main-div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader--ripple {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;

}

.loader--ripple div {
    position: absolute;
    animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid;
    border-radius: 50%;
    opacity: 1;
}

.loader--ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader--ripple {
    0% {
        top: 50px;
        left: 50px;
        opacity: 1;
        height: 0;
        width: 0;
    }

    100% {
        top: -1px;
        left: -1px;
        opacity: 0;
        height: 100px;
        width: 100px;
    }
}

.loader--ripple div {
    border-color: #00539f;
}

.salutationdiv {
    margin: 0% 0% 0px 3%;
}

/* =========================     Spinner Ends      =========================== */

@media screen and (max-width: 1600px) {
    .btnDiv {
        width: 45px;
        height: 45px;
    }

    .fieldvalidationbody {
        height: 85vh;
    }

    .togglebox {
        padding-bottom: 7px;
    }
}
.saveModelButton {
  background: #6699CC;
  color: #fff;
  width: 100px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 28px;
  font-size: medium;
  font-weight: 400;
  border: 0;
  height: 35px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
}
.cancelModelButton {
  background: #DEDEDE;
  color: #000;
  width: 100px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 28px;
  font-size: medium;
  font-weight: 400;
  border: 0;
  height: 35px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
}
.richtextheader{
    height: 60px;
  background: #6699cc;
  padding: 7px;
  font-size: 30px !important;
  font-weight: 500;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
    display: flex;
    align-items: center;
}
.richtextfooter{
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

.slds-tabs_scoped__nav, .slds-tabs--scoped__nav {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.slds-tabs_scoped__content, .slds-tabs--scoped__content {
    border-bottom-left-radius: 0 !important; 
    border-bottom-right-radius: 0 !important;
    --sds-c-textarea-sizing-min-height: initial;
}
.slds-text-heading_medium, .slds-text-heading--medium {
    font-size: 30px !important;
}
.richtextContent {
  min-height: 260px;
  background-color: white;
}
.htmlTab {
  border: none;
  --sds-c-textarea-sizing-min-height: initial;
}
.slds-tabs_scoped__nav {
  border-right: none;
  border-left: none;
}
.richtextModel .richtextTab,
.richtextModel .htmlTab {
  border: none;
  --sds-c-textarea-sizing-min-height: initial;
}

@media screen and (max-width:1400px) {
    .fieldvalidationbody {
        height: 82vh;
    }
}