.spinner-main-div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader--ripple {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;

}

.loader--ripple div {
    position: absolute;
    animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid;
    border-radius: 50%;
    opacity: 1;
}

.loader--ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader--ripple {
    0% {
        top: 50px;
        left: 50px;
        opacity: 1;
        height: 0;
        width: 0;
    }

    100% {
        top: -1px;
        left: -1px;
        opacity: 0;
        height: 100px;
        width: 100px;
    }
}

.loader--ripple div {
    border-color: #00539f;
}

.MainComponent {
    /* overflow-y: scroll; */
    background-color: white;
    overflow-y: scroll;
    height: 100%;
    overflow: hidden;
    border-radius: 14px;
    width: 100%;
}

.slds-vertical-tabs__link {
    background-color: #6699CC;
}

.field {
    margin-left: 2%;
    padding: 1%;
    text-align: left;
    font-size: 12px;
}

.myform {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    height: 75vh;
    overflow-x: hidden;
}

.myform::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.main {
    width: 50px;
}

.tabs {
    display: flex;
    width: 50px;
}

lightning-tab {
    display: flex;
    width: 50px;
}

.main::-webkit-scrollbar {
    display: none;
}

div.child1 {
    float: left;
    /* justify-content: top center; */
    box-sizing: border-box;
    text-align: center;
    width: 6%;
    /* min-width: 4%; */
    background-color: #6699CC;
    /* padding-bottom: 18%; */
}

div.child3 {
    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    background-color: #F5F5F5;
}

div.child2 {
    float: left;
    width: 74%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.formsub {
    mix-blend-mode: exclusion;
    color: white;
}

.formtitle {
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8%;
    border-radius: 3px;
    width: 86%;
    padding-bottom: 4%;
    padding-top: 4%;
    color: var(--setColorOnChange, black);
    color: white;
    font-size: 2.5rem;
}

.pagetitle {
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding-bottom: 20px;
    margin-left: 4%;
    width: 99%;
    color: var(--setPageColor);
}

.button_icon-border {
    border: 1px solid;
}

.PageButtonMenu {
    margin-right: 7%;
    display: flex;
}

.pageIconButton {
    margin: 10%;
    display: flex;
    align-items: center;
    background-color: #6699CC;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.pageIcons {
    height: 20px;
    width: 40px;
}

.page {
    background-color: white;
    padding: 3%;
    padding-top: var(--pagePaddingTop, 0%);
    margin-left: 5.5%;
    margin-right: 5.5%;
    margin-bottom: 3%;
    margin-top: 3%;
    background-size: var(--pagebg, none);
    background-position: var(--pagebgPostion, top left);
    background-repeat: var(--pagebgRepeat, none);
    background-attachment: var(--pagebgFixPosition, none);
    border-color: var(--pageborderColor, black);
    border-style: var(--pageborderStyle, solid);
    padding-bottom: var(--pagePaddingBottom, 4%);
    border-width: var(--pageborderWidth, 1px);
    background-image: var(--pagebgimage, '');
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    /* box-shadow: 1px 1px 10px 1px;
    box-shadow: #9d9f9f; */
}

.page::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.pagetitle1 {
    mix-blend-mode: difference;
    font-size: 1.7rem;
    margin-top: 10%;
    overflow-wrap: anywhere;
    mix-blend-mode: exclusion;
    color: white;
}

.pagetitle1if {
    font-size: 1rem;
    margin-top: 10%;
    color: #9d9f9f;
}

.subpagetitleif {
    font-size: 0.8rem;
    color: #9d9f9f;
}

.slds-dropdown_left {
    left: auto;
    right: 0;
}

.subpagetitle {
    font-size: 1.2rem;
    mix-blend-mode: exclusion;
    color: white;
}

.example-dropzone {
    background-color: transparent;
    width: 100%;
    height: auto;
    position: relative;
    left: -1%;
    padding-bottom: 3%;
}

.footer {
    border-radius: 3px;
    width: 94%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: var(--btnJustify, center);
}

.footer {
    font-size: 15px;
}

.footer .slds-button {
    text-align: center;
    padding-top: var(--btnTopPadding, 0.5px);
    padding-right: var(--btnRightPadding, 1px);
    padding-bottom: var(--btnBottomPadding, 0.5px);
    padding-left: var(--btnLeftPadding, 1px);
    font-size: var(--buttonfontsize, 15px);
    vertical-align: middle;
    transition: border .15s linear;
    color: var(--btnTextColor, lightslategray);
    border-radius: var(--btnborderradius, 5px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    background-color: var(--btnBgColor, white);
    border-color: var(--btncolor, darkgray);
    border-style: var(--btnborderstyle, solid);
    border-width: var(--btnborderwidth, 1px);
    font-family: var(--buttonfontfamily, sans-serif);
    font-weight: var(--buttonfontweight, normal);
    font-style: var(--buttonfontstyle, normal);
    width: var(--btnWidth, 5px);
    height: var(--btnHeight);
    margin-top: 10px;
}

.slds-m-around_small {
    display: inline;
}

.slds-button_destructive {
    margin-right: 15px !important;
}

.header {
    font-size: 1.5rem;
}

/* .slds-modal__footer {
    padding-bottom: 3% !important;
} */

.slds-modal__header {
    background-color: rgb(243, 242, 242);
}

lightning-button {
    margin: 2%;
    padding: 2%;
}

.tabSection {
    color: #6699CC;
}

.slds-vertical-tabs {
    align-items: center;
    height: 100%;
    background-color: #6699CC;
}

.slds-vertical-tabs__nav-item {
    background-color: #6699CC;
    padding: 2%;
}

.slds-vertical-tabs__left-icon {
    background-color: transparent;
}

img {
    background-color: transparent;
}

.bar {
    background-color: #6699CC;
    display: flex;
    flex-direction: column;
    width: 5%;
    min-width: 4%;
    max-width: 5%;
    padding-top: 2%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    height: 100%;
    font-size: 12px;
    color: white;
    cursor: pointer;
    /* gap: 2%; */
}

.barchild {
    margin-top: 6%;
}

.rename_input {
    width: 77%;
    margin-bottom: 23px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    border-radius: 35px; */
    width: 100%;
    /* height: 68%;
    margin-left: 15%;
    margin-right: 15%; */
}

/* @media screen and (max-width:1700px) {
    .home_icon{
        width: 50%;
    }
    .field_icon{
        width: 50%;
    }
    .design_icon{
        width: 50%;
    }
    .notification_icon{
        width: 50%;
    }
    .thankyou_icon{
        width: 50%;
    }
    .object_icon{
        width: 50%;
    }
    .preview_icon{
        width: 50%;
    }
    .publish_icon{
        width: 50%;
    }
    .bar{
        font-size: 8px;
    }
} */
@media screen and (min-width: 1440px) and (max-width: 1650px) {
    .bar {
        font-size: 9px;
    }
}

.formName {
    width: 75%;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: #0C0000;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.addFormTitle {
    padding: 2%;
    margin-top: 4%;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}

.formButtons {
    opacity: 1.0;
    display: flex;
}

.FormButtons {
    display: flex;
    background: #6699CC;
    color: white;
    cursor: pointer;
    height: 35px;
    margin-left: 3%;
    margin-right: 3%;
    width: 160px;
    font-size: 17px;
    align-items: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

.InnerFormtitle {
    display: flex;
    padding: 1%;
    /* margin-left: 2%;
    margin-right: 2%; */
    width: 96%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
    margin: 2% 0% 0 2%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 10%;
    margin-left: 10%;
}

.rename_div {
    display: flex;
    align-items: center;
    margin-top: -4%;
}

.rename_div>lightning-input {
    --lwc-colorBorderInput: rgb(0, 0, 0);
    --slds-c-input-radius-border: 3rem;
    --lwc-heightInput: 35px;
    --sds-c-input-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.right {
    width: 24px;
    height: 25px;
    background-color: #6699CC;
    margin: 22px 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrong {
    width: 24px;
    height: 25px;
    background-color: #455a64;
    margin: 22px 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar img {
    height: 34px;
    width: 34px;
    /* min-height: 45px;
    min-width: 45px; */
}

abbr {
    color: red;
}

.input_field-input-box {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #000000;

}

lightning-input {
    --slds-c-input-radius-border: 4px;
    --slds-c-input-color-border: #000000;
    /* --slds-c-input-height: 40px; */
    --lwc-heightInput: 33px;
    width: 100%;
    /* height: 40px; */
}

lightning-textarea {
    --slds-c-textarea-radius-border: 4px;
    --slds-c-textarea-color-border: #000000;
}

lightning-combobox {
    --lwc-heightInput: 33px;
}

.slds-inpu {
    height: 40px;
    background-color: #000;
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.form-details-button {
    width: 100%;
    position: absolute;
    bottom: 7%;
}

.form-details-cancel-button {
    margin-left: 25px;
}

.form-details-next-button {
    margin-right: 25px;
}

/* .qf-standard-button {
    height: 35px;
    width: 160px; */
/* margin-right: 15px; */
/* border-radius: 58px;
    background-color: #6699CC;
    font-size: 17px;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
} */

.my-cystom-input {
    --sds-c-input-radius-border: 4px;
    --sds-c-input-color-border: #000000;
}

:host {
    --sds-c-input-radius-border: 4px;
    --sds-c-input-color-border: #000000;
    --sds-c-textarea-sizing-min-height: 240px;
}

.main {
    height: 0px;
}

.toast_shadow {
    box-shadow: 1px 2px 4px 0px #888888;
    border-radius: 3px;
    background: #FFCCCB;
}

.costompoppu {
    margin-top: 8%;
}

.spinner-main-div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader--ripple {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
}

.loader--ripple div {
    position: absolute;
    animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid;
    border-radius: 50%;
    opacity: 1;
}

.loader--ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.slds-spinner_container {
    /* height: 38% !important; */
    /* position: absolute !important; */
    /* top: 32.3% !important; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 47.7% !important; */
    /* z-index: var(--lwc-zIndexSpinner,9050) !important; */
    /* background-color: var(--lwc-colorBackgroundTempModalTintAlt,rgba(255, 255, 255, 0.75)); */
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity .2s ease, visibility 0s !important;
    transition-delay: 0s, .3s !important;
    width: 100% !important;
    border-radius: 14px !important;
}

@keyframes loader--ripple {
    0% {
        top: 50px;
        left: 50px;
        opacity: 1;
        height: 0;
        width: 0;
    }

    100% {
        top: -1px;
        left: -1px;
        opacity: 0;
        height: 100px;
        width: 100px;
    }
}

.loader--ripple div {
    border-color: #00539f;
}

.header {
    display: flex;
}

/* .cancelbtn{
    background-color: #DEDEDE;
    color: black;
} */
.mainobjectdiv {
    overflow: initial;
    height: 61%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* .prog-bar-width {
    width: 300px;
} */
/* .newform_body { */
/* overflow: initial; */
/* height: 61%; */
/* height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row; */
/* gap: 10px; */
/* padding-top: 20px;
    padding-bottom: 20px;
} */
/* .desc{
    resize: vertical;
    width: 100%;
    height: 80px;
    min-height: 100px;
    border-radius: 5px;
} */

/* .description {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 56%;
} */

/* .descriptiontext {
    display: flex;
    width: 42%; */
/* gap: 47%; */
/* align-items: flex-start;
} */
.progress,
.captcha {
    display: flex;
    /* gap: 5px; */
}



/* CSS start */

.formBuilder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 20px;
}

.verticalTab {
    position: absolute;
    height: 100%;
    border-radius: 20px;
    width: 20%;
}

.EditForm {
    width: 80%;
    left: 20%;
    position: relative;
    background-color: #FEFEFE;
    height: 100%;
}

.verticalTab .slds-vertical-tabs__nav {
    height: 100vh;
    background-color: #6699CC !important;
}

.verticalTab .slds-vertical-tabs {
    border-radius: 0;
}

.verticalTab lightning-tab-bar {
    height: 100vh;
    width: 15%;
    /* width: var(--sak, 15%); */
}

.verticalTab .slds-vertical-tabs__content {
    background-color: #F5F5F5;
    display: var(--hidetabdisplay);
}


/*  .test {
    background-image: url('/resource/1556180826000/homeIcon') !important;
} */

.searchBox .slds-input {
    border-radius: 17px;
    border-color: lightgray;
}

.searchBoxDiv.slds-input-has-icon .slds-input__icon {
    margin-top: 2px;
}

.designPanel {
    overflow-y: scroll;
    height: 100%;
    padding: 0 0px 25px 0px;
    position: absolute;
    width: 75%;
}

.designPanel::-webkit-scrollbar {
    display: none;
}

.searchBoxDiv {
    margin-top: 3%;
}

.accordionSection {
    margin-top: 10%;
}

/* .slds-button__icon {
    fill: #6699CC;
} */

.searchBoxDiv {
    width: 92%;
    margin: auto;
}

.formTitle {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    align-items: center;
}

.editFormContent {
    margin: auto;
    width: 80%;
    height: 15%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.39);
}

.editButton {
    display: flex;
    align-items: center;
}

.formTitleHeader {
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    /* text-overflow: ellipsis; */
    scroll-behavior: smooth;
    width: 50%;
}

.formTitleHeader::-webkit-scrollbar {
    display: none;
}

.editButton .slds-button {
    padding: 2px 29px;
    font-size: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

.editButton .addPage {
    margin-left: 1rem;
}

.editPagePanel {
    /* border: 1px solid #000000; */
    margin: auto;
    /* width: var(--myformwidth, 80%); */
    /* height: 100vh; */
    margin-top: 2%;
    width: 80%;
    height: max-content;
    overflow: hidden;
    box-shadow: var(--boxShadow);
}


.myform::-webkit-scrollbar {
    display: none;
}

.accordionSection .slds-input,
.accordionSection .slds-input_faux,
.accordionSection .slds-color-picker__summary-button {
    border-radius: 10px;
    border-color: #6699CC;
}

.accordionSection .slds-file-selector_files .slds-file-selector__text {
    display: none;
}

.accordionSection .slds-color-picker__summary-input .slds-input {
    display: none;
}


/*  .verticalTab .slds-is-open>.slds-accordion__content {
    padding: 0 11%;
} */

.accordioInnerDiv {
    padding: 0 11%;
}

.verticalTab .accordionSection .slds-accordion__section {
    padding-top: 7%;
    padding-bottom: 7%;
}

.verticalTab .accordionSection .colorPicker lightning-primitive-icon {
    margin-left: 10px;
}


/* validation bar css */

.fieldDiv2 {
    display: none;
    background-color: rgba(217, 217, 217, 1);
    position: absolute;
    left: 46px;
    width: 17%;
    z-index: 10;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow: scroll;
    height: 100vh;
    padding: 0 0 10rem 0;
}

.fieldDiv2::-webkit-scrollbar {
    display: none;
}


/* end */

/* / Tablet / */
/* @media only screen and (min-width: 768px) {
    .two_line {
        margin-left: 50%; */
/* / margin-top: -1%; / */
/* margin-top: -4%; */
/* / height: 30%; / */
/* / width: calc(10%*1.5); / */
/* width: calc(20%*1.5); */
/* / position: absolute; / */
/* border-bottom: 2px solid #000;
        transform: rotate(150deg);
        transform-origin: left;
    }
} */

/* / desktop  / */
/* @media only screen and (min-width: 992px) {
    .two_line {
        margin-left: 50%;
        margin-top: -4%;
        width: calc(25%*1.5);
        border-bottom: 2px solid #000;
        transform: rotate(150deg);
        transform-origin: left;
    }
} */

/* @media only screen and (min-width: 1480px) {
    .two_line {
        margin-left: 50%; */
/* / margin-top: -4%; / */
/* width: calc(16%*1.5); */
/* width: calc(15%*1.5);
        margin-top: -3.5%;
        border-bottom: 2px solid black;
        transform: rotate(150deg);
        transform-origin: left;
    } */

/* .three_line_one {
        width: calc(10%*1.6); */
/* width: calc(12%*1.6); */
/* position: absolute;
        border-bottom: 2px solid #000;
        transform: rotate(25deg);
        transform-origin: left; */
/* margin-top: -2%; */
/* margin-top: -1%;
    } */
/* .prog-bar-width {
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    } */
/* .preview_box_captcha{ */
/* width: 90%; */
/* height: auto; */
/* margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; */
/* margin-top: 10%; */
/* margin-top: 5%; */
/* } */
/* .captcha_preview{
        height: 100%; */
/* overflow: hidden; */
/* } */


/* .three_line_two { */
/* width: calc(12%*1.6); */
/* width: calc(10%*1.6);
        position: absolute;
        border-bottom: 2px solid #000;
        transform: rotate(155deg);
        transform-origin: left;
        margin-top: -1%;
    }
} */
/*  
@media only screen and (max-width: 1440px) { */
/* .slds-modal__container {
        margin: 0 auto;
        width: 80%;
        max-width: 66%;
        min-width: 20rem;
        padding: 5%;
        --slds-c-modal-radius-border: 14px;
    } */
/* .prog-bar-width {
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    } */

/* .preview_box_captcha{ */
/* width: 90%; */
/* height: auto; */
/* margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; */
/* margin-top: 10%; */
/* margin-top: 5%; */
/* } */
/* .captcha_preview{
        height: 100%; */
/* overflow: hidden; */
/* } */

/* .captcha_progressbar_preview_main_titel {
        width: 100%;
        height: 30px;
        font-size: 15px;
        /* padding: 2%; */
/* padding-left: 4%;
        display: flex;
        align-items: center;
        background-color: #6699CC;
        color: #ffffff;
        border-radius: 4px 4px 0px 0px;

    } */

/* .sec_obj_error {
        font-size: 10px;
    }

    .ligcombobox {
        color: grey;
        width: 150px;
        font-size: 15px;
        overflow: initial;
    }

    .templeat3-combobox {
        width: 100%;
        margin-right: auto;
        margin-left: auto;

    }

    lightning-textarea {
        --slds-c-textarea-sizing-min-height: 118px;
    }

}
@media only screen and (max-width: 1600px) {
    .ligcombobox {
        color: grey;
        width: 165px;
        font-size: 15px;
        overflow: initial;
    }
}
@media only screen and (max-width: 1800px) {
    .ligcombobox {
        color: grey;
        width: 180px;
        font-size: 15px;
        overflow: initial;
    }
}

@media only screen and (max-width: 1550px) { */
/* .slds-modal__header {
        height: 11%;
    } */

/* .slds-modal__footer {
        height: 11%;
    } */
/* 
    .input_field-label {
        font-size: 15px;
    } */

/* .preview_show_msg_captcha { */
/* height: 68%; */
/* height: 55%;
    } */
/* .captcha_preview{
        height: 100%; */
/* overflow: hidden; */
/* } */


/* .helpicon {
        margin-bottom: 5px;
    }

    .newform_body {
        padding-top: 10px;
        padding-bottom: 10px;
    } */

/* .form-details-input{
        gap: 15px !important;
    } */
/* .desc{
    height: 175px;
   } */

/* } */





.sec_obj_error_main {
    height: 0px;
    /* width: 200px; */
}

.sec_obj_error {
    color: #ff0000;
    font-size: 14px;
}

.prog-bar-width {
    width: 300px;
}

.ligcombobox {
    color: grey;
    width: 200px;
    font-size: 15px;
    overflow: initial;
}

.slds-dropdown--length-5 {
    max-height: calc(((0.8125rem * 1.5) + 1rem) * 3) !important;
}

lightning-textarea {
    --slds-c-textarea-sizing-min-height: 145px;
}

.tf-nc2::before {
    border-left: 0.0625em solid #000000 !important;
    content: "";
    display: block;
    height: 6em;
    margin-top: -50px;
    left: calc(68% - 0.03125em);
    position: absolute;
}

.templet3_object3 {
    margin-top: 50px;
}

.tf-nc3::before {
    border-left: 0.0625em solid #000000 !important;
    content: "";
    display: block;
    height: 6em;
    margin-top: -16px;
    left: calc(50% - 0.03125em);
    position: absolute;
}

.templeat3 {
    margin-top: -88px;
}

.progressbar_newform {
    height: 6%;
    width: 70%;
    margin: 17px;
    background-color: #DEDEDE;
    ;
    border-radius: 58px;
    margin-left: 16%;
    display: flex;
    font-size: 17px;
    font-weight: 600;
}

.slds-modal__container {
    margin: 0 auto;
    width: 80%;
    max-width: 60%;
    min-width: 20rem;
    padding: 5%;
    --slds-c-modal-radius-border: 14px;
}

/* tree hierarchy start */
.tf-tree {
    font-size: 16px;
    overflow: auto
}

/* .tf-main { */
/* margin: 0px 15px 15px 20px; */
/* } */

.tf-tree * {
    box-sizing: border-box;
    /* margin:0; */
    padding: 0;
}

.tf-tree ul {
    display: inline-flex
}

.tf-tree li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1em;
    position: relative;
    margin-top: 15px;
}

.tf-tree li ul {
    margin: 2em 0;
}

.tf-tree li li:before {
    border-top: .0625em solid #000;
    content: "";
    display: block;
    height: .0625em;
    left: -.03125em;
    position: absolute;
    top: -1.03125em;
    width: 100%
}

.tf-tree li li:first-child:before {
    left: calc(50% - .03125em);
    max-width: calc(50% + .0625em)
}

.tf-tree li li:last-child:before {
    left: auto;
    max-width: calc(50% + .0625em);
    right: calc(50% - .03125em)
}

.tf-tree li li:only-child:before {
    display: none
}

.tf-tree li li:only-child>.tf-nc:before,
.tf-tree li li:only-child>.tf-node-content:before {
    height: 1.0625em;
    top: -1.0625em
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {
    /* border:.0625em solid #000; */
    display: inline-block;
    /* padding:.5em 1em; */
    position: relative;
}

.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:before {
    top: -1.03125em;
}

.tf-tree .tf-nc:after,
.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:after,
.tf-tree .tf-node-content:before {
    border-left: 0.0625em solid #000;
    content: "";
    display: block;
    height: 3em;
    left: calc(50% - 0.03125em);
    position: absolute;
    /* width: 0.0625em;*/
}

.tf-tree .tf-node-content:after {
    top: calc(100% + .03125em);
}

.tf-tree .tf-nc:only-child:after,
.tf-tree .tf-node-content:only-child:after,
.tf-tree>ul>li>.tf-nc:before,
.tf-tree>ul>li>.tf-node-content:before {
    display: none;
}

.tf-tree.tf-gap-sm li {
    padding: 0 .6em;
}

.tf-tree.tf-gap-sm li>.tf-nc:before,
.tf-tree.tf-gap-sm li>.tf-node-content:before {
    height: .6em;
    top: -.6em;
}

.tf-tree.tf-gap-sm li>.tf-nc:after,
.tf-tree.tf-gap-sm li>.tf-node-content:after {
    height: .6em;
}

.tf-tree.tf-gap-sm li ul {
    margin: 3em 0;
}

.tf-tree.tf-gap-sm li li:before {
    top: -.63125em;
}

.tf-tree.tf-gap-sm li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-sm li li:only-child>.tf-node-content:before {
    height: .6625em;
    top: -.6625em;
}

.tf-tree.tf-gap-lg li {
    padding: 0 1.5em;
}

.tf-tree.tf-gap-lg li>.tf-nc:before,
.tf-tree.tf-gap-lg li>.tf-node-content:before {
    height: 1.5em;
    top: -1.5em;
}

.tf-tree.tf-gap-lg li>.tf-nc:after,
.tf-tree.tf-gap-lg li>.tf-node-content:after {
    height: 1.5em;
}

.tf-tree.tf-gap-lg li ul {
    margin: 3em 0;
}

.tf-tree.tf-gap-lg li li:before {
    top: -1.53125em;
}

.tf-tree.tf-gap-lg li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-lg li li:only-child>.tf-node-content:before {
    height: 1.5625em;
    top: -1.5625em;
}

.tf-tree li.tf-dotted-children .tf-nc:after,
.tf-tree li.tf-dotted-children .tf-nc:before,
.tf-tree li.tf-dotted-children .tf-node-content:after,
.tf-tree li.tf-dotted-children .tf-node-content:before {
    border-left-style: dotted;
}

.tf-tree li.tf-dotted-children li:before {
    border-top-style: dotted;
}

.tf-tree li.tf-dotted-children>.tf-nc:before,
.tf-tree li.tf-dotted-children>.tf-node-content:before {
    border-left-style: solid;
}

.tf-tree li.tf-dashed-children .tf-nc:after,
.tf-tree li.tf-dashed-children .tf-nc:before,
.tf-tree li.tf-dashed-children .tf-node-content:after,
.tf-tree li.tf-dashed-children .tf-node-content:before {
    border-left-style: dashed;
}

.tf-tree li.tf-dashed-children li:before {
    border-top-style: dashed;
}

.tf-tree li.tf-dashed-children>.tf-nc:before,
.tf-tree li.tf-dashed-children>.tf-node-content:before {
    border-left-style: solid;
}

/* tree hierarchy end */



.slds-modal__header {
    background-color: #6699CC;
    color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
}

.slds-modal__footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.slds-modal__content .slds-p-around_medium {
    padding: 4% !important;
}

.popup_titel {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.form-details-input {
    width: 60%;
    /* float: left; */
    /* margin-top: 3%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
    padding: 20px 20px 5px 20px;
}

.captcha_progressbar_preview_main {
    width: 40%;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 11px; */
    padding: 20px 20px 5px 20px;
    padding-left: 0px;
}

.captcha_progressbar_preview_main_titel {
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding-left: 4%;
    display: flex;
    align-items: center;
    background-color: #6699CC;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
}

.progressbar_preview {
    width: 100%;
    height: 35%;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.preview_show_msg_progress_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    background-color: #ffffff;
    /* margin-top: 5%; */
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 4px;
    font-size: 20px;
}

.captcha_preview {
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    margin-top: 5%;
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 4px;
}

.preview_show_msg_captcha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    background-color: #ffffff;
    margin-top: 5%;
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 4px;
    font-size: 20px;
}

.preview_box_progressbar {
    width: 100%;
    height: 60%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple;*/
}

.preview_box_captcha {
    width: 90%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 10%; */
    /* margin-top: 5%; */
}

.bt {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 250px;
    margin-right: auto;
    margin-left: auto; */
}

/* .bt-center { */
/* background-color: #ffffff; */
/* width: 100%;
    padding: var(--lwc-spacingMedium,1rem); */
/* } */

.input_field {
    /* margin-bottom: 30px; */
    /* height: 29px; */
    width: 100%;
    /* height: 14%; */
    height: 8%;
    margin-bottom: 8%;
}

.slds-grid.slds-wrap {
    height: 100%;

}

.input_field-label {
    font-size: 17px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

abbr {
    color: red;
}

.input_field-input-box {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #000000;

}

lightning-input {
    --slds-c-input-radius-border: 4px;
    --slds-c-input-color-border: #000000;
    /* --slds-c-input-height: 40px; */
    --lwc-heightInput: 33px;
    width: 100%;
    /* height: 40px; */
}

lightning-textarea {
    --slds-c-textarea-radius-border: 4px;
    --slds-c-textarea-color-border: #000000;
}

lightning-combobox {
    --lwc-heightInput: 33px;
}

.slds-inpu {
    height: 40px;
    background-color: #000;
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.form-details-button {
    width: 100%;
    position: absolute;
    bottom: 7%;
}

.form-details-cancel-button {
    margin-left: 25px;
}

.form-details-next-button {
    margin-right: 25px;
}

.qf-standard-button {
    height: 35px;
    width: 130px;
    /* margin-right: 15px; */
    border-radius: 58px;
    background-color: #6699CC;
    font-size: 17px;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.my-cystom-input {
    --sds-c-input-radius-border: 4px;
    --sds-c-input-color-border: #000000;
}

:host {
    --sds-c-input-radius-border: 4px;
    --sds-c-input-color-border: #000000;
    --sds-c-textarea-sizing-min-height: 240px;
}


img {
    height: 100%;
    width: 100%;
    /* margin-bottom: 45%; */
    /* height: 65%; */
    /* width: 100%; */
}

.main-body {
    overflow: hidden;
}

.main_box {
    float: right;
    /* height: 650px; */
    height: calc(40vh);
    /* width: 910px; */
    width: 100%;
    background-color: #FEFEFE;
}

.template_option_main {
    float: left;
    height: 95%;
    width: 40%;
    margin-left: 3%;
    background-color: #ffffff;

}

.section_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.main_box_grid {
    height: 90%;
    width: 100%;
    padding: 20px;
    border-radius: 14px;
    background-color: #FEFEFE;
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.grid1 {
    height: 50%;
    width: 100%;
    margin-left: 0px;
}

.inner-grid1 {
    text-align: center;
    vertical-align: middle;
    /* line-height: 138px; */
    /* width: 150px; */
    width: 50%;
    /* height: 250px; */
    /* height: 205px; */
    height: 90%;
    border-radius: 4px;
    border: 1px solid #000000;
    margin: 0px 10px 10px 10px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    padding: 2px;
}

.inner-grid2 {
    text-align: center;
    vertical-align: middle;
    /* line-height: 138px; */
    width: 50%;
    height: 90%;
    border-radius: 4px;
    border: 1px solid #000000;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    /* margin-bottom: 15px; */
    /* margin: 15px 15px 15px 15px; */
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.pop_up2_main {
    float: right;
    height: 95%;
    width: 50%;
    background-color: #FEFEFE;
    margin-right: 3%;
}

.pop_up2 {
    /* float: right; */
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px !important;
    background-color: #FEFEFE;
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.select_msg {
    float: right;
    height: 90%;
    width: 100%;
    background-color: #FEFEFE;
    /* margin-right: 3%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #6699CC; */
    font-size: 20px;
    border-radius: 14px;
    border: 1px solid #000000;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.first {
    margin-top: 35%;
}

/* second temp css  */

.two_child_object {
    margin-top: 6%;
    /* margin-left: -28%; */
    margin-left: -50%;
}

.two_line {
    margin-left: 50%;
    /* margin-top: -1%; */
    margin-top: -4%;
    /* height: 30%; */
    /* width: calc(10%*1.5); */
    width: calc(15%*1.5);
    /* position: absolute; */
    border-bottom: 2px solid #000;
    transform: rotate(150deg);
    transform-origin: left;
}

/* Third temp css  */

.three_line_div {
    width: 40%;
    margin-left: 50%;
    margin-top: -1%;
    height: 30%;
}

.three_line_one {
    /* width: calc(10%*1.6); */
    width: calc(12%*1.6);
    position: absolute;
    border-bottom: 2px solid #000;
    transform: rotate(25deg);
    transform-origin: left;
    margin-top: -2%;
}

.three_line_two {
    width: calc(12%*1.6);
    position: absolute;
    border-bottom: 2px solid #000;
    transform: rotate(155deg);
    transform-origin: left;
    margin-top: -2%;
}

.three_child_object {
    padding-top: 6%;
}

.three_child_left {
    float: left;
    margin-right: 30%;
    width: 30%;
}

.three_child_right {
    float: right;
    margin-left: -20%;
    width: 32%;
}

.newform_body {
    /* overflow: initial; */
    /* height: 61%; */
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 56%;
}

.descriptiontext {
    display: flex;
    width: 42%;
    gap: 47%;
    align-items: flex-start;
}

.desctextarea {
    height: 100%;
    /* width: 59%; */
    width: 58%;
    /* max-width: 59%; */
    max-height: 138px;
    max-width: 58%;
}

.main {
    height: 0px;
}

.toast_shadow {
    box-shadow: 1px 2px 4px 0px #888888;
    border-radius: 3px;
    background: #FFCCCB;
}

.costompoppu {
    margin-top: 8%;
}

.spinner-main-div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader--ripple {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
}


.loader--ripple div {
    position: absolute;
    animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid;
    border-radius: 50%;
    opacity: 1;
}

.loader--ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader--ripple {
    0% {
        top: 50px;
        left: 50px;
        opacity: 1;
        height: 0;
        width: 0;
    }

    100% {
        top: -1px;
        left: -1px;
        opacity: 0;
        height: 100px;
        width: 100px;
    }
}

.loader--ripple div {
    border-color: #00539f;
}

.header {
    display: flex;
}

.cancelbtn {
    background-color: #DEDEDE;
    color: black;
}

.mainobjectdiv {
    overflow: initial;
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.desc {
    resize: vertical;
    width: 100%;
    height: 80px;
    /* min-height: -webkit-fill-available; */
    min-height: 100px;
    border-radius: 5px;
}

/* / Tablet / */
@media only screen and (min-width: 768px) {
    .two_line {
        margin-left: 50%;
        /* / margin-top: -1%; / */
        margin-top: -4%;
        /* / height: 30%; / */
        /* / width: calc(10%*1.5); / */
        width: calc(20%*1.5);
        /* / position: absolute; / */
        border-bottom: 2px solid #000;
        transform: rotate(150deg);
        transform-origin: left;
    }
}

/* / desktop  / */
@media only screen and (min-width: 992px) {
    .two_line {
        margin-left: 50%;
        margin-top: -4%;
        width: calc(25%*1.5);
        border-bottom: 2px solid #000;
        transform: rotate(150deg);
        transform-origin: left;
    }
}

@media only screen and (min-width: 1480px) {
    .two_line {
        margin-left: 50%;
        /* / margin-top: -4%; / */
        /* width: calc(16%*1.5); */
        width: calc(15%*1.5);
        margin-top: -3.5%;
        border-bottom: 2px solid black;
        transform: rotate(150deg);
        transform-origin: left;
    }

    .three_line_one {
        width: calc(10%*1.6);
        /* width: calc(12%*1.6); */
        position: absolute;
        border-bottom: 2px solid #000;
        transform: rotate(25deg);
        transform-origin: left;
        /* margin-top: -2%; */
        margin-top: -1%;
    }

    .three_line_two {
        /* width: calc(12%*1.6); */
        width: calc(10%*1.6);
        position: absolute;
        border-bottom: 2px solid #000;
        transform: rotate(155deg);
        transform-origin: left;
        margin-top: -1%;
    }
}

@media only screen and (max-width: 1440px) {
    .slds-modal__container {
        margin: 0 auto;
        width: 80%;
        max-width: 66%;
        min-width: 20rem;
        padding: 5%;
        --slds-c-modal-radius-border: 14px;
    }

    .prog-bar-width {
        width: 280px;
    }

    .captcha_progressbar_preview_main_titel {
        width: 100%;
        height: 30px;
        font-size: 15px;
        /* padding: 2%; */
        padding-left: 4%;
        display: flex;
        align-items: center;
        background-color: #6699CC;
        color: #ffffff;
        border-radius: 4px 4px 0px 0px;

    }

    .sec_obj_error {
        font-size: 10px;
    }

    .ligcombobox {
        color: grey;
        width: 150px;
        font-size: 15px;
        overflow: initial;
    }

    .templeat3-combobox {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    lightning-textarea {
        --slds-c-textarea-sizing-min-height: 118px;
    }

}

@media only screen and (max-width: 1600px) {
    .ligcombobox {
        color: grey;
        width: 165px;
        font-size: 15px;
        overflow: initial;
    }
}

@media only screen and (max-width: 1800px) {
    .ligcombobox {
        color: grey;
        width: 180px;
        font-size: 15px;
        overflow: initial;
    }
}

@media only screen and (max-width: 1550px) {
    .slds-modal__header {
        height: 11%;
    }

    .slds-modal__footer {
        height: 11%;
    }

    .input_field-label {
        font-size: 15px;
    }

    .preview_show_msg_captcha {
        /* height: 68%; */
        height: 55%;
    }

    .captcha_preview {
        /* height: 68%; */
        height: 60%;
    }

    .helpicon {
        margin-bottom: 5px;
    }

    .newform_body {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* .form-details-input{
        gap: 15px !important;
    } */
    /* .desc{
    height: 175px;
   } */

}

.newclass {
    justify-content: center !important;
    align-items: center !important;
    width: 40% !important;
}

.deletecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 28px rgb(0 0 0 / 25%) !important;
    border-radius: 25px;
    width: 70%;
    background-color: white;
    position: absolute;
    top: 36%;
}

.deleteicon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6699CC;
    width: 101px;
    height: 100px;
    border-radius: 100%;
}

.confirm-message {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 4px;
}

.deletedescription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.deletefooter {
    height: 70px;
    padding: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.no-btn {
    height: 35px;
    width: 130px;
    border-radius: 101px;
    justify-content: center;
    border-color: #E6E7E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    color: black;
    background-color: #DEDEDE;
}

.yes-btn {
    height: 35px;
    width: 130px;
    border-radius: 101px;
    justify-content: center;
    background: rgb(102, 153, 204) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    color: white;
    overflow: hidden;
    --webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.imgclass {
    height: 70% !important;
    width: 70% !important;
}

.spinnerclass {
    overflow: hidden;
    border-radius: 20px;
}

/* @media only screen and (min-width:1920px) {
    
}  */
.fieldvalidationdiv {
    display: none;
}

.btn1{
    padding-left: 0%;
}

.btn2{
    padding-left: 0%;
    color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0)!important;
    border-color:  rgba(0, 0, 0, 0) !important;
}

/* .helptext{
    margin-bottom: 5px;
} */
@media only screen and (max-width: 1550px){
.captcha_preview{
    height: 55%;
}
}