.main {
    width: 100%;
    height: calc(100vh);
    /* background-color: #fff; */
    background-image: url("/resource/Notification_BG_Image");
    background-size: cover;
}

.notification_titel {
    width: 85%;
    height: 10%;
    /* margin-top: 10%; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}

.puls_icon {
    height: 16px;
    width: 16px;
}

.tableStatusCol {
    text-align: center;
    width: 70%;
    float: right;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    justify-content: end;
}

/* .togglebutton{
    border: 1px black;
} */

.container{
    position: relative;
    top: 4px;
}
/* 1400 */

.content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .switch input {
    display: none;
}

 .switch small {
    align-items: center;
    display: inline-block;
    width: 65px;
    height: 20px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

 .switch small:after {
    content: "Disable";
    position: absolute;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    left: 0px;
    text-align: right;
    padding: 1px 5px;
    box-sizing: border-box;
    line-height: 18px;
}

 .switch small:before {
    align-items: center;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}

 .switch input:checked~small {
    background: #6699CC;
    transition: .3s;
}

 .switch input:checked~small:before {
    transform: translate(46px, 0px);
    transition: .3s;
}

 .switch input:checked~small:after {
    content: "Enable";
    text-align: left;
    padding-left: 10px;
}

.helptext{
    /* margin-top: 2px; */
    margin-left: 8px
}

.addcc_addbcc {
    font-weight: 400;
    margin: 5px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.addcc_addbcc:hover {
    cursor: pointer;
}

.addcc_addbcc_main {
    display: flex;
}

.titel {
    color: rgb(0, 0, 0, 0.56);
    width: 30%;
    font-size: 30px;
    font-weight: 800;
    /* font-family: 'Roboto'; */
    line-height: 25px;
    /* margin: 1%; */
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.input_label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 41% */
    color: #000000;

}

abbr {
    color: #ff0000;
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.input_outerbox {
    width: 85%;
    height: 61%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 14px;
    margin-top: 1%;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
}

::-webkit-scrollbar {
    width: 10px;
    height: 90%;
}

.input_section {
    width: 90%;
    /* height: 80%; */
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

.input_section .slds-grid.slds-wrap {
    margin-top: 2%;
}

.input_box {
    width: 100%;
}

.slds-form-element__icon {
    display: inline-block;
    position: relative;
    /* padding-top: var(--lwc-spacingXxSmall,0.25rem); */
    vertical-align: top;
    line-height: var(--lwc-lineHeightReset, 1);
    z-index: 1;
}

.bt-center {
    width: 100%;
    padding: var(--lwc-spacingMedium, 1rem);
    /* margin-top: 1%; */
}

.bt {
    /* width: 100%; */
    background-color: #ffffff;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 10px;

}

.qf-standard-button-cancel {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 160px;
    height: 35px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 58px;
    background-color: #DEDEDE;
}

.qf-standard-button {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    width: 160px;
    height: 35px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 58px;
    background-color: #6699CC;
    color: white;
}


.email_to {
    display: flex;
    width: 100%;
}

.emailsend {
    padding-top: 3%;
    width: 70%;
}

.email_reply {
    padding-top: 2%;
}


.input-box {
    border: 1px solid #D3D3D3;
    /* height: 30PX; */
    min-height: 30px;
    overflow: hidden;
    border-radius: 5PX;
    padding: 2px;
}

.add {
    display: flex;
    flex-wrap: nowrap;
}

.email_subject {
    padding-top: 2%;
}

.email_message {
    width: 80%;
    padding-top: 2%;
}

.checkbox {
    padding-top: 2%;
}

.toadd {
    border: solid;
    padding: 0px 16px 0px 12px;
    border-width: thin;
}

.input[c-emailInput_emailInput] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 15, 15) !important;
    background-color: hidden;
    width: 100%;
}

.test {
    margin-top: 3%;
    border-bottom: 1px solid #D3D3D3;

}

.error_msg {
    color: #ff0000;
}

/* =========================     Spinner Sarts      =========================== */

.spinner-main-div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader--ripple {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;

}

.loader--ripple div {
    position: absolute;
    animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid;
    border-radius: 50%;
    opacity: 1;
}

.loader--ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader--ripple {
    0% {
        top: 50px;
        left: 50px;
        opacity: 1;
        height: 0;
        width: 0;
    }

    100% {
        top: -1px;
        left: -1px;
        opacity: 0;
        height: 100px;
        width: 100px;
    }
}

.loader--ripple div {
    border-color: #00539f;
}

.header {
    display: flex;
}

lightning-button {
    --lwc-buttonColorBorderPrimary: rgb(255, 255, 255);
}

.help_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    margin: 15px 25px;
}

.help {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
}

.help {
    width: 5%;
    gap: 5px;
    /* color: #6699CC; */
    /* Remove comment once button is working*/
    color: grey;
    border-radius: 16px;
    padding: 5px 0;
    text-align: center;
    font-size: 0.9rem;
    background: #FFFCFC;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.crossIcon {
    left: 92%;
    display: none;
    cursor: pointer;
    position: absolute;
}

/* =========================     Spinner Sarts      =========================== */




.input {
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid; */
    height: 1.875rem;
    border: 1px solid;
    border-color: #dddbda;
    background-color: hidden;
    width: 100%;
}

.pill {
    border-radius: 4px !important;
    /* margin: 5px !important; */
    --sds-c-pill-color-background: #6699CC !important;
    --sds-c-pill-top-margin: 5px;
    color: white;
}

.email_error_msg {
    color: #ff0000;
}

/* .slds-pill{
    border-radius: 4px !important;
    margin: 5px !important;
   --sds-c-pill-color-background : #6699CC !important;
    color: white;
}
.slds-pill_container{
    border-radius: 4px !important;
    margin: 5px !important;
    --sds-c-pill-color-background : #6699CC !important;
    color: white;

} */
.input:focus {
    outline-width: 0;
}

.msg {
    --sds-c-textarea-sizing-min-height: initial;
}