.Publish_lwc_Component_code {
    text-align: left;
    padding-left: 20px
}

.spinner-main-div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader--ripple {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
}

.loader--ripple div {
    position: absolute;
    animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 4px solid;
    border-radius: 50%;
    opacity: 1;
}

.loader--ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader--ripple {
    0% {
        top: 50px;
        left: 50px;
        opacity: 1;
        height: 0;
        width: 0;
    }

    100% {
        top: -1px;
        left: -1px;
        opacity: 0;
        height: 100px;
        width: 100px;
    }
}

.loader--ripple div {
    border-color: #00539f;

}

.std-btn {
    height: 34px;
    width: 110px;
    margin-left: 60px;
    /* margin-right: 15px; */
    border-radius: 30px;
    background-color: #6699CC;
    font-size: 15px;
    color: #ffffff;
    border: none;
}

.bt-center {
    /* background-color: #ffffff; */
    width: 100%;
    padding: var(--lwc-spacingMedium, 1rem);
}

.bt {
    /* background-color: #ffffff; */
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.qrcode2 {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* .publishCheckboxes {
    padding: 30px 5% 0 16px;
} */

/* .checkBoxes,
.iconsImage {
    cursor: pointer;
} */

/* .checkBoxes .slds-form-element__control .slds-radio {
    border-bottom: 1px solid lightgrey !important;
    padding: 18px 10px 18px 0px !important;
} */

/* .publishCheckboxes .slds-form-element__control .slds-radio:last-child {
    border: none
} */

.lightBoxChexboxes {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    padding-top: 10px;
}

.lightBoxAcc {
    margin: 5px 0px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #6699CC;
    padding: 5px 30px;
    width: 85%;
    margin-left: 6px;
    width: 85%;
}

.PublishForm {
    /* background-color: white; */
    width: 80%;
    height: 100vh;
    padding: 0 6%;
    background-image: url("/resource/bg");
    background-repeat: no-repeat;
    background-size: 100% 85%;
}

.formlink {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    height: 10%;
    align-items: center;
}

.inputBox {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: none;
    width: 90%;
    font-size: 12px;
    font-weight: normal;
    padding: 1% 0.8% 1% 1.2%;
}

.copyCodeSection {
    height: 70%;
    position: relative
}

.codeCopySection {
    background: #EBEBEB;
    border-radius: 15px;
    line-height: 2em;
    overflow: hidden;
    overflow-y: scroll;
    height: 40%;
    display: flex;
    justify-content: center;
}

.codeCopySection::-webkit-scrollbar {
    display: none;
}

.slds-button__icon {
    fill: #6699cc;
}

.copiedtext,
.copiedtext1,
.copiedtext2,
.copiedtext3 {
    text-align: center;
    opacity: 1;
    display: none;
    color: #6699CC;
    font-size: 1rem;
    margin: auto 1%;
}

.LeftBar {
    background-color: rgba(242, 242, 242, 0.76);
    position: relative;
    height: 100vh;
    left: 0;
    overflow: scroll;
    padding-bottom: 10rem;
    width: 20%;
}
@media only screen and (max-width: 1300px){
.LeftBar{
    width: 27%;
}
}
@media only screen and (max-width: 1600px){
.LeftBar{
    width: 24%;
}
}
.LeftBar::-webkit-scrollbar {
    display: none;
}

.formLinkTitle {
    font-weight: bold;
    font-size: 1.5rem;
    height: 10%;
    padding: 41px 0 0 0px;
}

.linkText {
    height: 2%;
}

.formlink {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    height: 5rem;
    align-items: center;
}

.iconsImage {
    width: 32px;
    background: #FFFFFF;
    margin: 0px 0px 0px 10px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
}

.publishUsing {
    font-size: 1.4rem;
    height: 4%;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyIcon:focus {
    border: none;
}

.codeCopySection::-webkit-scrollbar {
    display: none;
}

.iframeCode {
    background: #ebebeb;
    border-radius: 15px;
    height: 40%;
    line-height: 2em;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .publishCheckboxes {
    padding: 12px 5% 0 16px;
} */

.lightBoxChexboxes {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    padding-top: 10px;

}

.lightBoxAcc {
    margin: 5px 0px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #6699CC;
    padding: 5px 30px;
    width: 85%;
    margin-left: 6px;
    width: 85%;
}

/* .publishCheckboxes .slds-form-element__control .slds-radio:last-child {
    border: none
} */
/* .publishCheckboxes .slds-radio .slds-form-element__label{
    font-size: 16px;
} */




/*copy code*/

.code {
    background-color: white;
}

.mainHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-bottom: 0.5px solid lightgray;
}

.copyIcon {
    border: none;
}

.codestyle {
    padding: 0.5rem 0.9rem 0 0.9rem;
    overflow-y: scroll;
    background-color: #D9D9D9;
    height: 300px;
}
.codingstyle{

/* width: 238px; */
/* height: 218px; */
color: #000000;
padding-left: 20px;
word-wrap: break-word;
padding-right: 20px;
}

.subcode{
    /* position: absolute; */
/* width: 320rem; */
height: 280px;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.code{
    gap: inherit;
}
.codestyle::-webkit-scrollbar {
    display: none;
}

.subcodeJs,
.subcodeCss {
    margin: 0px 0 0 10px;
}

.verticalTab .publishTab.slds-vertical-tabs__content {
    height: 100vh;
    padding-bottom: 10rem;
    overflow: hidden;
    overflow-y: scroll;
}

.verticalTab .publishTab.slds-vertical-tabs__content::-webkit-scrollbar {
    display: none;
}

.urlCopied {
    position: relative;
    top: -30px;
    left: -36PX;
    color: #6699CC;
    font-size: 11px;
    display: none;
}

.subcode::-webkit-scrollbar {
    display: none;
}

.code::-webkit-scrollbar {
    display: none;
}

.heading {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.myBtn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: box-shadow 0.4s ease;
    background: #4610f5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}

.myBtn span {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.codeIcons {
    margin-right: 10px;
}

.lightBoxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.leftPanelTitle {
    /* text-align: center; */
    color: rgb(0, 0, 0, 0.56);
    font-size: 30px;
    font-weight: 800;
    /* font-family: 'Roboto'; */
    line-height: 25px;
    /* margin: 1%; */
    /* margin-top: 30px; */
    /* margin-left: 15px; */
    /* margin-bottom: 10px; */
    /* letter-spacing: 1px; */
    /* text-align: center; */
    font-family: sans-serif;
    margin: 13% 0 6% 5%;
}

@media only screen and (max-width:1669px) {
    .iframeCode {
        line-height: 2rem;
    }
}

@media only screen and (max-width:1550px) {
    .iframeCode {
        background: #EBEBEB;
        border-radius: 15px;
        padding-top: 100px;
        height: 20rem;
        line-height: 2em;
        display: flex;
        justify-content: center;
        overflow: auto;
    }

    .LeftBar {
        width: 20%;
    }

    .PublishForm {
        width: 80%;
    }
}

@media only screen and (max-width:1400px) {

    .codeCopySection,
    .iframeCode {
        background: #EBEBEB;
        border-radius: 15px;
        height: 12rem;
        line-height: 2em;
        display: flex;
        justify-content: center;
    }

    .iframeCode {
        padding-top: 200px;
    }

    .lightBoxSection {
        height: 16rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    /* .codestyle {
        height: 10.5rem;
        
    } */

    .formlink {
        font-weight: normal;
        height: 10%;
    }

    .leftPanelTitle {
        color: rgb(0, 0, 0, 0.56);
        font-size: 30px;
        font-weight: 800;
        /* font-family: 'Roboto'; */
        line-height: 25px;
        /* margin: 1%; */
        /* margin-top: 30px; */
        /* margin-left: 15px; */
        /* margin-bottom: 10px; */
        /* letter-spacing: 1px; */
        font-family: sans-serif;
    margin: 13% 0 6% 5%;
    }

    .formLinkTitle {
        height: 13%;
        padding: 30px 0 0 0px;
    }

    .linkText {
        height: 5%;
    }

    .PublishForm {
        width: 77%;
        padding: 0 5%;
    }

    .LeftBar {
        width: 23%;
    }

    .publishUsing {
        height: 2%;
    }

}

@media only screen and (max-width:1102px) {
    .LeftBar {
        width: 26%;
    }

    .PublishForm {
        width: 74%;
    }
}

/* .checkBoxes .slds-form-element__control .slds-radio {
    border-bottom: 1px solid lightgray;
    padding: 18px 10px 18px 0;
} */

.spinnercont {
    overflow: hidden;
}

.imgtag {
    vertical-align: -webkit-baseline-middle;
}

.iframetag {
    width: 100%;
    height: 100%
}

.spantag {
    color: blue;
    text-decoration: underline;
    cursor: pointer
}

.imgtag1 {
    vertical-align: -webkit-baseline-middle;
    cursor: pointer
}

.divtag {
    padding-bottom: 20px;
}

.divtag1 {
    text-align: left;
    padding-left: 20px;
    word-break: break-all;
}

.divtag2 {
    display: flex;
    flex-direction: row;
}
.iconsImages {
    width: 15px;
    height: 15px;
    margin: auto 4%;
    cursor: pointer;
}
.iconsImg {
    width: 16px;
    height: 12px;
    background: #FFFFFF;
    padding-left: 1px;
}
.diviconsImg {
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.newclsrks {
    padding: 30px 5% 0 16px;
  }
  .form-check {
    margin-left: 5%;
    font-size: 16px;
  }
  .form-check .slds-dropdown_left {
    right: auto;
  }
  .thanks-optiondiv {
    display: flex;
  }
  .thanks-option {
    padding-top: 2px;
    margin-right: 5px;
    display: flex;
    gap: 10px
  }
  .hrLine {
    border-top: 2px solid #ccc;
    margin: 4% 0 4% 3%;
  }