/* .img{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
   
} */
/* #myVideo::-webkit-media-controls-enclosure {
    display: none !important;
} */
/* video::-webkit-media-controls {
    display: none !important;
} */


/* .no-controls::-webkit-media-controls {
    display: none !important;
  }
  .no-controls::-webkit-media-controls-panel {
    display: none !important;
  }
  .no-controls::-webkit-media-controls-play-button {
    display: none !important;
  } */