.notification_pill .slds-pill {
    margin-right: 5px;
    margin-top: 5px;
}
.notification_pill .slds-pill:hover {
    --slds-c-pill-color-background: #6699CC !important;
}

.notification_pill .slds-pill__remove svg {
    width: var(--lwc-squareIconXxSmallContent,.875rem);
    color: #FFFFFF;
    height: var(--lwc-squareIconXxSmallContent,.875rem);
}
.checkboxdivnoti .slds-checkbox .slds-checkbox_faux{
    border: 1px solid grey !important;
}
.notidivcont .slds-nowrap {
    border: 1px solid grey !important;
}
.notiinputcls .slds-input{
    border: 1px solid grey !important;
}