/* .Accord{
    height: 750px;
} */

lightning-input {
  --sds-c-input-color-border: #6699cc !important;
  --slds-c-input-radius-border: 15px !important;
}

lightning-combobox {
  --sds-c-input-color-border: #6699cc !important;
  --slds-c-input-radius-border: 15px !important;
}


.fieldname>p {
  color: rgb(0, 0, 0, 0.56);
  font-size: 30px;
  font-weight: 800 !important;
  /* font-family: 'Roboto'; */
  line-height: 25px;
  /* margin: 1%; */
  /* margin-top: 30px; */
  /* margin-left: 15px; */
  /* margin-bottom: 10px;
  text-align: center; */
  letter-spacing: 1px;
  font-family: sans-serif;
  margin: 13% 0 6% 5%;
}

.Accord {
  height: 75vh;
}


.slds-color-picker__summary-button {
  vertical-align: top;
  padding: 0.3rem var(--lwc-spacingXSmall, 0.5rem);
  line-height: 1;
  background: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundAlt, rgb(255, 255, 255)));
  margin-right: var(--lwc-spacingXxSmall, 0.25rem);
  border-radius: 14px;
  border-color: black;
}



.slds-scrollable_y {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.slds-scrollable_y::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.panel {
  padding: 0% 8% 0% 8%;
}



.slds-form-element__control {
  border-radius: 15px;
}


.upload {
  --color-black-softest: #485461;
  /* softer black */
  --color-black-soft: #363F48;
  /* softer black */
  --color-black-hard: #2d353c;
  /* harder black */
  --color-black-hardest: #21282e;
  /* hardest black */
  --color-green-light: #65cca9;
  /* light green */
  --color-green: #29b586;
  /* medium green */
  --ease-in-out-quartic: cubic-bezier(0.645, 0.045, 0.355, 1);

  position: relative;
  display: inline-flex;
  background: #485461;
  border-radius: 10px;
  box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02),
    0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035),
    0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05),
    0 60px 50px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transform: rotate(0);
}

button {
  position: relative;
  margin: 0;
  font-size: 100%;
  padding: 0 8px;
  font-family: inherit;
  background: none;
  outline: none;
}

@keyframes button-pulse {
  from {
    box-shadow: 0 0 0 0 var(--color-green-light);
  }

  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}

@keyframes fade-up-out {
  to {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes fade-up-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes load-right {
  0% {
    left: -100%;
  }

  50% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  cursor: pointer;
}


.drop-area {
  border: 1px solid var(--color-black-softest);
}


/* ------------------------------
  Styling for the rest of the page
  ------------------------------ */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background: #2d353c;
  color: #ccc;
}

.wrapper {
  text-align: center;
}

.upload-wrapper {
  display: inline-block;
  margin: 2rem auto 0;
}


/* Cross */

.box {
  height: auto;
  width: 200px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.box .cross {
  top: 4px;
  right: 6px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
}

.box .cross img {
  -webkit-transition: -webkit-transform 0.3s, opacity 0.25s;
  -moz-transition: -moz-transform 0.3s, opacity 0.25s;
  transition: transform 0.3s, opacity 0.25s;
  opacity: 0.5;
}

.box .cross:hover {
  opacity: 1;
}

.box .formimage {
  text-align: center;
  font-size: 2.25em;
  font-weight: bolder;
  position: absolute;
  color: #ecf0f1;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.box .cross:hover {
  cursor: pointer;
}

.box .cross img:hover {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  opacity: 1;
}

.box object {
  margin: 30px 0 0 -70px;
}

.plus {
  width: 70%;
  height: auto;
  display: inline-block;
  position: relative;
}

.plus:before,
.plus:after {
  content: "";
  position: absolute;
  /*    z-index:-2; */
  background: gray;
}

.plus:before {
  left: 50%;
  width: 2px;
  /*    margin-left:-8%; */
  height: 100%;
}

.plus:after {
  top: 50%;
  height: 2px;
  /*    margin-top:-2%; */
  width: 100%;
}

.paddingdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.spinner-main-div {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader--ripple {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;

}


.loader--ripple div {
  position: absolute;
  animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 4px solid;
  border-radius: 50%;
  opacity: 1;
}

.loader--ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.slds-spinner_container {
  position: absolute !important;
  top: 0;
  right: -500px !important;
  bottom: 0;
  left: -500px !important;
  /* z-index: var(--lwc-zIndexSpinner,9050) !important; */
  /* background-color: var(--lwc-colorBackgroundTempModalTintAlt,rgba(255, 255, 255, 0.75)); */
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity .2s ease, visibility 0s !important;
  transition-delay: 0s, .3s !important;
}

@keyframes loader--ripple {
  0% {
    top: 50px;
    left: 50px;
    opacity: 1;
    height: 0;
    width: 0;
  }

  100% {
    top: -1px;
    left: -1px;
    opacity: 0;
    height: 100px;
    width: 100px;
  }
}

.loader--ripple div {
  border-color: #00539f;
}

@media only screen and (max-width: 1480px) {
  .backclass {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1380px) {
  .backclass {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1522px) and (min-width: 1480px) {
  .backclass {
    font-size: 10px;
  }
}