.thanksMainDiv {
  height: 100%;
  display: flex;
  justify-content: center;
}

.thanksChoice {
  width: 20%;
  height: 100%;
  background-color: #F5F5F5;
  /* padding: 0 1% 1% 1%; */
  overflow: auto;
  /* font-family: 'Roboto', sans-serif; */
}

.thanksChoice::-webkit-scrollbar {
  display: none;
}

.thanksLabelDiv {
  color: rgb(0, 0, 0, 0.56);
  font-size: 30px;
  font-weight: 800;
  /* font-family: 'Roboto'; */
  line-height: 25px;
  /* margin: 1%; */
  /* margin-top: 30px; */
  /* margin-left: 15px; */
  /* margin-bottom: 10px; */
  letter-spacing: 1px;
  /* text-align: center; */
  font-family: sans-serif;
  margin: 13% 0 6% 5%;
}

.hrLine {
  border-top: 2px solid #ccc;
  margin: 4% 0 4% 3%;
}

.form-control {
  display: none;
}

.form-check {
  margin-left: 5%;
  font-size: 16px;
}

.thanks-option {
  padding-top: 2px;
  margin-right: 5px;
  display: flex;
  gap: 10px
}

.thanks-optiondiv {
  display: flex;
}

.thankyouinput {
  margin-top: -15px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 30px;
}

.thankyouinput-rich {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 30px;
}

.thanksPreviewDiv {
  width: 80%;
  height: 100%;
  /* background-color: #E5E5E5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thanksPreview {
  height: 95%;
  width: 80%;
  background-color: #fff;
  margin: auto;
  border: 1px solid #000000;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  overflow: scroll;
}

.thanksEditButton {
  width: 100%;
  display: flex;
  height: 15%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1%;
}

.thanksEditButton .slds-button {
  padding: 2px 29px;
  font-size: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
}

.editBtn {
  margin: 0% 10% 0px 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.imgDiv {
  height: 60%;
  width: fit-content;
  margin: auto;
  padding: 10% 10% 0 12%;
}

.txtstyle {
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.saveButton {
  display: flex;
  height: 15%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1%;
}

.saveBtn,
.cancelBtn {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  width: 160px;
  height: 35px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 58px;
}

.saveBtn {
  background-color: #6699CC;
  color: #fff;
}

.cancelBtn {
  background-color: #d5d2d2;
  text-align: center;
}


/* Richtext Model Start */

.richtextModel {
  background-color: rgb(255 255 255 / 75%);
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.richtextModel .richtextMainDiv {
  width: 45%;
}

.richtextModel .richtextDiv {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
}

.richtextModel .richtextLabel {
  height: 60px;
  background: #6699cc;
  padding: 7px;
  font-size: 30px;
  font-weight: 500;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.richtextModel .richtextContent {
  min-height: 260px;
}

.richtextModel .richtextTab,
.richtextModel .htmlTab {
  border: none;
  --sds-c-textarea-sizing-min-height: initial;
}

.richtextModel .slds-tabs_scoped__nav {
  border-right: none;
  border-left: none;
}

.richtextModel .richtextButtonDiv {
  height: 50px;
}

.richtextModel .richtextButton {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.richtextModel .saveModelButton {
  background: #6699CC;
  color: #fff;
  width: 100px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 28px;
  font-size: medium;
  font-weight: 400;
  border: 0;
  height: 35px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
}

.richtextModel .cancelModelButton {
  background: #DEDEDE;
  color: #000;
  width: 100px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 28px;
  font-size: medium;
  font-weight: 400;
  border: 0;
  height: 35px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
}

.form-check .slds-dropdown_left {
  right: auto;
}

.thanksPreview::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Richtext Model End */

.slds-notify_container .slds-icon-utility-success {
  --sds-c-icon-color-foreground: rgb(36, 146, 3);
}

@media only screen and (max-width:1600px) {
  .thanksChoice {
    width: 24%;
  }

  .thanksPreviewDiv {
    width: 76%;
  }

  .richtextModel .richtextMainDiv {
    width: 55%;
  }

  .editBtn {
    margin: 0 !important;
  }
}

/* 
@media only screen and (max-width:1400px) {
  .saveBtn,
  .cancelBtn {
    width: 17%;
  }
} */
@media only screen and (max-height:800px) {

  .saveBtn,
  .cancelBtn {
    /* height: 46%; */
  }
}

@media only screen and (max-width:1300px) {
  .thanksChoice {
    width: 27%;
  }

  .thanksPreviewDiv {
    width: 73%;
  }
}

@media only screen and (max-width:1100px) {
  .thanksChoice {
    width: 30%;
  }

  .thanksPreviewDiv {
    width: 70%;
  }
}


.thanksMainDiv .editlabel {
  opacity: 1 !important;
  visibility: visible;
  transition: transform var(--lwc-durationQuickly, 0.1s) linear, opacity var(--lwc-durationQuickly, 0.1s) linear;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001;
}

.penicon {
  width: 17px;
}

.htmlTab {
  display: flex;
  flex-direction: column;
}

lightning-tabset {
  --lwc-borderRadiusMedium: 0rem !important;
}

.htmlhead {
  font-weight: 600;
}

@media only screen and (max-height:800px) {
  .thanksEditButton {
    padding: 2% 10% 0 0;
  }
}

.spinner-main-div {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* border-radius: 50px; */
}

.loader--ripple {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;

}

.loader--ripple div {
  position: absolute;
  animation: loader--ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 4px solid;
  border-radius: 50%;
  opacity: 1;
}

.loader--ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loader--ripple {
  0% {
    top: 50px;
    left: 50px;
    opacity: 1;
    height: 0;
    width: 0;
  }

  100% {
    top: -1px;
    left: -1px;
    opacity: 0;
    height: 100px;
    width: 100px;
  }
}

.loader--ripple div {
  border-color: #00539f;
}

.maintext {
  overflow-wrap: break-word;
  padding: 0 5% !important;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
}

.spinner {
  overflow: hidden;
}

.imgDiv .img {
  height: 100%;
}

.thanksPreview_div {
  padding: 10px;
}
.newclsrks {
  padding: 30px 5% 0 16px;
}